<div (click)="hide()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-close type-muted" (click)="hide()">x</div>
    <div class="registerContainer">
      <h3 class="mbs">Register</h3>
      <div class="type-error">{{registerErrorMessage}}</div>
      <form id="registerForm" (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="registerModel.name" name="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="registerModel.email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required [(ngModel)]="registerModel.password" name="password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm</label>
          <input type="password" class="form-control" id="confirmPassword" required [(ngModel)]="registerModel.confirmPassword" name="confirmPassword">
        </div>
        <button type="submit" class="pull-right mts">Submit</button>
      </form>
    </div>
    <div class="loginContainer">
      <h3 class="mbs">Login</h3>
      <div class="type-error">{{loginErrorMessage}}</div>
      <form id="loginForm" (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="loginModel.email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required [(ngModel)]="loginModel.password" name="password">
        </div>
        <button type="submit" class="pull-right mts">Submit</button>
      </form>
    </div>
  </div>
</div>
